body {
    font-family: 'Open Sans', sans-serif;    background-image: url("table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    font-size: large;
    font-family: 'Open Sans', sans-serif; 
    margin-left: 5px;

;
}

.wrap {
    display: flex;
    flex-direction: column;
    font-size: x-large;
}